.box{
    width:200px;
    height: 200px;
    background-color: rgb(226,43,104);
    border-radius: 20px 20px 20px 20px;
    display: grid;
    place-content: center;

}

.box2{
    width:200px;
    height: 200px;
    background-color: rgb(117,226,43);
    border-radius: 20px 20px 20px 20px;
    display: grid;
    place-content: center;
}

.box3{
    width:200px;
    height: 200px;
    background-color: rgb(187,128,18);
    border-radius: 20px 20px 20px 20px;
    display: grid;
    place-content: center;
}

.box4{
    width:200px;
    height: 200px;
    background-color: rgb(35,138,207);
    border-radius: 20px 20px 20px 20px;
    display: grid;
    place-content: center;
}

.container {
    display: grid;
	grid-template-columns: 300px 150px;
	grid-template-rows: 300px 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
}