.box{
    width:200px;
    height: 200px;
    float: left;
    background-color: rgb(226,43,104);
    border-radius: 20px 0 20px 0;
    display: grid;
    place-content: center;

}

.box2{
    margin-top: 20px;
    width:200px;
    height: 200px;
    float: left;
    background-color: rgb(117,226,43);
    border-radius: 0 20px 0 20px;
    display: grid;
    place-content: center;
}

.box3{
    margin-top: 20px;
    width:200px;
    height: 200px;
    background-color: rgb(187,128,18);
    border-radius: 0 20px 0 20px;
    display: grid;
    place-content: center;
}

.box4{
    margin-top: 20px;
    width:200px;
    height: 200px;
    background-color: rgb(35,138,207);
    border-radius: 20px 0 60px 0;
    display: grid;
    place-content: center;
}

.parent{
    width: 90%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}